body{
    background-color: #151b29;;
    color: white;
    font-family: monospace;
    font-weight: bold;
    
}
#items li{
    border: 2px solid black;
    width: 30%;
    padding: 10px;
}
#tit{
    text-align: center;
    text-transform: uppercase;
    text-shadow: wheat;
}
#grocery input{
    width: 50%;
    margin-left: 20%;
    height: 40px;
    padding:0 auto;
    outline: none;

    border-radius: 5px;
	padding: 5px;
	border: none;
}

#bt{
    font-weight:bold ;
    padding: 7px 7px;
    margin-left: 20px;
    border-radius: 10px;
}
#bt:hover{
    background-color: orange;
    color: white;
    border: 3px solid white;
    transition: 0.2s;
}

#but{
    margin-left: 20%;
}