body{
    background-color: #151b29;;
    color: white;
    font-family: monospace;
    font-weight: bold;
    
}

.reorderable-list__item {

    margin-bottom: 1rem;
    padding: 0.5rem;

  }
  
.reorderable-list__item {
    cursor: move;
  }