<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">TODO</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">

                    <% if (!currentUser) { %>
                        <a class="nav-link" href="/login"><i> Login</i></a>
                        <a class="nav-link" href="/register"><i> SignUp</i></a>
                      <% }else { %>
                    <a class="nav-link" href="/todo/<%= currentUser._id%>/list/new"><i>Add Todo</i></a>
                          <a class="nav-link" href="/logout"><i> Logout</i></a>
                          <a class="nav-link"><i> Logged in as <%= currentUser.username %> </i></a>
              
                      <% } %> 
                </nav>
            </div>
        </header>
      <%- include('../partials/flash') %>

        <main class="px-3">
            <% if (!currentUser) { %>
                <a id="todo"  href="/login" class="btn btn-lg btn-white font-weight-bold border-white bg-white"><i>Make Todo</i>
                </a>
            <% }else{ %>
                <a id="todo"  href="/todo/<%= currentUser._id%>/list/new" class="btn btn-lg btn-white font-weight-bold border-white bg-white"><i>Make Todo</i>
                </a>
           <% } %> 
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; TODO 2022 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>
